<link href="~/Content/myStyle.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "SignUp";
}

<h2>SignUp </h2>
<br /> @ViewBag.Message

<form method="POST" action="/Home/SaveAccount">
    <table>
        <tr>
           <td> @Html.Raw(ViewBag.FirstNameStatus) FirstName:</td>
            <td><input type="text" placeholder="FirstName" name="firstname" /></td></tr>
         <tr>
            <td>@Html.Raw(ViewBag.LastNameStatus) Last Name:</td>
            <td><input type="text" placeholder="Last Name" name="lastname" /></td></tr>
        <tr>
            <td>@Html.Raw(ViewBag.PasswordStatus) Password:</td>
            <td><input type="password" placeholder="Password" name="password" /></td></tr>
        <tr>
            <td>@Html.Raw(ViewBag.EmailStatusMessage) Email:</td>
            <td> <input type="text" placeholder="Example@domain.com" name="emailaddress" /> </td></tr>
        <tr> 
            <td>Phone Number:</td>
            <td><input type="tel" placeholder="000-000-0000" name="phonenumber" /></td></tr>
        <tr>
            <td>   Gender:</td>
            <td>
                Male<input type="radio" name="gender" value="Male" />
                Female<input type="radio" name="gender" value="Female" />
                Other<input type="radio" name="gender" value="Other" />
            </td>
        </tr>
        <tr>
            <td> Birthday:</td>
            <td><input type="date" name="birthday" /></td>
        </tr>
        <tr> <td><input type="submit" /></td>   </tr>


    </table>
</form>
